---
import Base from "../layouts/Base.astro";
import DashboardContent from "../components/DashboardContent";

// Session info is available from middleware
const { session } = Astro.locals;
---

<Base>
    <div class="main-container">
        <div class="top-band success-title bold-500">
            <img src="/assets/images/celebrate-icon.svg" alt="Login successful" class="success-icon" />
            Login successful
        </div>
        <div class="inner-content">
            <div>Your userID is:</div>
            <div class="truncate" id="user-id">
                {session.accessTokenPayload.sub}
            </div>
            <DashboardContent
                client:only="react"
                userId={session.accessTokenPayload.sub}
            />
        </div>
    </div>
</Base> 