---
import Base from "../layouts/Base.astro";
import { Image } from "astro:assets";

// Session info is available from middleware
const { session } = Astro.locals;
---

<Base>
    <section class="logos">
        <Image src="/ST.svg" alt="SuperTokens" width={240} height={240} />
        <span>x</span>
        <Image src="/Astro.svg" alt="Astro" width={240} height={240} />
    </section>
    <section class="main-container">
        <div class="inner-content">
            <h1>
                <strong>SuperTokens</strong> x <strong>Astro</strong> <br /> example project
            </h1>
            <nav class="buttons">
                <a href="/auth" class="dashboard-button">
                    Sign-up / Login
                </a>
                <a href="/dashboard" class="dashboard-button">
                    Dashboard
                </a>
            </nav>
        </div>
    </section>
</Base>
