body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logos {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
}

.logos span {
    font-size: 8rem;
    font-weight: bold;
}

.logos img {
    width: 240px;
}
