---
import "../styles/app.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/ST.svg" />
    <title>Astro SuperTokens demo</title>
  </head>
  <body>
    <main class="App app-container">
        <header>
            <nav class="header-container">
                <a href="/">
                    <img src="/ST.svg" alt="SuperTokens" />
                </a>
                <ul class="header-container-right">
                    <li>
                        <a
                            href="https://supertokens.com/docs/guides/getting-started/react"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Docs
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/supertokens/create-supertokens-app"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            CLI Repo
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="fill" id="home-container">
            <slot />
            <footer>
                Built with ❤️ by the folks at{" "}
                <a href="https://supertokens.io" target="_blank" rel="noopener noreferrer">
                    supertokens.com
                </a>
                .
            </footer>
            <img class="separator-line" src="/assets/images/separator-line.svg" alt="separator" />
        </div>
    </main>
  </body>
</html>