<div class="body">
    <h1>Hello</h1>

    <div *ngIf="session; else elseBlock">
        <span>UserId:</span>
        <h3>{{ userId }}</h3>

        <div class="session__btn">
            <button class="btn" (click)="callApi()">Call API</button>
            <button class="btn" (click)="onLogout()">Sign Out</button>
        </div>
    </div>
    <p>Visit the <a href="https://supertokens.com">SuperTokens tutorial</a> to learn how to build Auth under a day.</p>
    <ng-template #elseBlock>
        <button class="btn" (click)="redirectToLogin()">Sign in</button>
    </ng-template>
</div>
