.body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.1rem;
}

span {
    margin-right: 0.3rem;
    font-size: large;
}

h3 {
    color: #ff7547;
}

h1 {
    color: #ff7547;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-in;
    background-color: #ff7547;
    font-size: large;
}
.btn:hover {
    box-shadow: 0 8px 25px -8px #ffb399;
}
.session__btn {
    display: flex;
    justify-content: space-around;
}
