<div className="main-container">
    <div className="top-band success-title bold-500">
        <img src="/assets/images/celebrate-icon.svg" alt="Login successful" className="success-icon" />
        Login successful
    </div>
    <div className="inner-content">
        <div>Your userID is:</div>
        <div className="truncate" id="user-id">
            {{ userId }}
        </div>
        <div className="buttons">
            <button (click)="callApiClicked()" className="dashboard-button">Call API</button>
            <button (click)="onLogout()" className="dashboard-button">Logout</button>
        </div>
    </div>
</div>
