<main class="main">
    <div class="content">
        <header>
            <div class="header-container">
                <a href="/">
                    <img src="/ST.svg" alt="SuperTokens" />
                </a>
            </div>
            <div class="header-container-right">
                <a href="https://supertokens.com/docs/guides/getting-started/angular" target="_blank"> Docs </a>
                <a href="https://github.com/supertokens/create-supertokens-app" target="_blank"> CLI Repo </a>
            </div>
        </header>
    </div>
</main>
<div class="App app-container">
    <router-outlet></router-outlet>
</div>
