<main class="App app-container">
    <header>
        <nav class="header-container">
            <a href="/">
                <img src="/ST.svg" alt="SuperTokens" />
            </a>
            <ul class="header-container-right">
                <li>
                    <a href="https://supertokens.com/docs/" target="_blank" rel="noopener noreferrer"> Docs </a>
                </li>
                <li>
                    <a
                        href="https://github.com/supertokens/create-supertokens-app"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        CLI Repo
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="fill" id="home-container">
        <router-outlet></router-outlet>
        <footer>
            Built with ❤️ by the folks at &nbsp;
            <a href="https://supertokens.io" target="_blank" rel="noopener noreferrer"> supertokens.com </a>
            .
        </footer>
        <img class="separator-line" src="assets/images/separator-line.svg" alt="separator" />
    </div>
</main>
