<section className="logos">
    <img src="/ST.svg" alt="SuperTokens" />
    <span>x</span>
    <img src="/React.svg" alt="React" />
</section>
<section className="main-container">
    <div className="inner-content">
        <h1>
            <strong>SuperTokens</strong> x <strong>Angular</strong> <br />
            example project
        </h1>
        <div>
            <p *ngIf="session">
                You're signed in already, <br />
                check out the Dashboard! 👇
            </p>
            <p *ngIf="!session">Sign-in to continue</p>
        </div>
        <nav className="buttons">
            <a href="/dashboard" className="dashboard-button" *ngIf="session"> Dashboard </a>
            <a href="/auth" className="dashboard-button" *ngIf="!session"> Sign-up / Login </a>
        </nav>
    </div>
</section>
