<div class="fill" id="home-container">
    <div class="logos">
        <img src="/ST.svg" alt="SuperTokens" />
        <span>x</span>
        <img src="/Angular.svg" alt="Angular" />
    </div>
    <div class="main-container">
        <div class="inner-content">
            <p>
                <strong>SuperTokens</strong> x <strong>Angular</strong> <br />
                example project
            </p>
            <div class="buttons">
                <a href="/auth" class="sessionButton"> Sign-up / Login </a>
                <a href="/dashboard" class="sessionButton"> Dashboard </a>
            </div>
        </div>
    </div>
</div>
