.tenant-id {
    margin-top: 11px;
    margin-bottom: 23px;
}

.inner-content #tenant-id {
    position: relative;
    padding: 14px 17px;
    border-image-slice: 1;
    margin-inline: auto;
    margin-block: 11px 23px;
    border-radius: 9px;
    line-height: 1;
    font-family: Menlo, serif;
    cursor: text;
}

.inner-content #tenant-id:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9px;
    padding: 2px;
    background: linear-gradient(90.31deg, #ff9933 0.11%, #ff3f33 99.82%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}

.tenants-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
    background-color: white;
    width: 300px;
    border-radius: 8px;
    margin-top: calc(50vh - 100px);
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Rubik";
    padding-left: 24px;
    padding-right: 24px;
}

.tenants-label {
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 12px;
}

.tenant-selector {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    border-color: rgb(221, 221, 221);
    font-size: 16px;
}

.tenants-button {
    margin-top: 24px;
    background-color: rgb(255, 155, 51);
    color: white;
    font-weight: 700;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(238, 141, 35);
    cursor: pointer;
}
